In [1]:
import pandas as pd
import numpy as np

In [3]:
#quest 1
a = {
    'author_id':[1, 2, 3],
    'author_name':['Тургенев', 'Чехов', 'Островский']
    }
authors = pd.DataFrame(a)
a = {
    'author_id':[1, 1, 1, 2, 2, 3, 3],
    'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 
                  'Таланты и поклонники'],
    'price':[450, 300, 350, 500, 450, 370, 290]
    }
book = pd.DataFrame(a)
print(authors)
print(book)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский
   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

In [4]:
#quest 2
authors_price = pd.merge(authors, book, on='author_id', how='inner')
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

In [12]:
#auest 3

top5 =  authors_price.nlargest(5, "price")
print( top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

In [68]:
#quest 4
a = {
    'author_name':[],
}
author_stat = pd.DataFrame(a)
b1 = authors_price.groupby('author_name').agg({'price': 'min'}).rename(columns={'price':'min_price'})
b2 = authors_price.groupby('author_name').agg({'price': 'max'}).rename(columns={'price':'max_price'})
b3 = authors_price.groupby('author_name').agg({'price': 'mean'}).rename(columns={'price':'mean_price'})

author_stat = pd.merge(author_stat, b1, on='author_name', how='right')
author_stat = pd.merge(author_stat, b2, on='author_name', how='right')
author_stat = pd.merge(author_stat, b3, on='author_name', how='right')
#authors_stat= pd.concat([df1, df2, df3], axis = 1)
print(author_stat)

  author_name  min_price  max_price  mean_price
0  Островский        290        370  330.000000
1    Тургенев        300        450  366.666667
2       Чехов        450        500  475.000000